.App {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  border: solid 2px black;
  font-size: 30px;
}

.some-form {
  border: 2px solid hotpink;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.some-input {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 30px;
}

.some-button {
  width: 15%;
  margin: 0 auto;
  height: 50px;
  margin-top: 25px;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
